@media (max-width:480px){

body {
  margin:0;
  padding: 0;
  font-family: monospace;
}

/*------------------*/


#nav{
  width: 150px;
  height: 300px;
  background-color: red;

  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:1000;

}

.checkbox{
  width: 40px;
  height: 40px;
  position: absolute;
  top:0px;
  left: 10px;
  z-index: 1;
  cursor: pointer;

  top:0px;
  left:10px;
  z-index:1;
  cursor: pointer;

}
.checkbox:checked ~ #menu{
  position: fixed;
  left: 0;
  transition: 1s;

}

#burger{
  background-color: white;
  margin: 0;
  padding: 5px 0 0 5px;
  top: 0;
  left: 0;
  position: absolute;
  height: 300px;
}

#burger li{
  list-style: none;
  width: 30px;
  height: 5px;
  margin: 5px;

}

#menuu{
  background-color: grey;
  width: 130px;
  height: 200px;
  margin: 0;
  padding: 0;
  padding-left: -20px;
  position: absolute;
  top: 50px;
  left: -250%;
  }

  #menu li{
    list-style-type: none;
    font-size: 24px;
    margin: 0;

  }


/*------------------*/

#cap{
  background-color: #922B41;
  height: 45px;
  overflow:hidden;
}
#cap:hover{height: 340px;}

.index{
border: solid 1px; white;
text-align: center;
color: white;
display: block;
height: 50 px;
margin-top: 9px;

}

h1{
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

#cos{
  background-color: #B65F72;
  width: 100%;
  padding: 10px 10px 1px 10px;

}

.noticia{
  background-color: #DFAAB6;
  height: 300px;
  margin-bottom: 10px;
  padding: 2%;
}

#menu{
  background-color: #B65F72;
  width: 100%;
  padding: 10px 10px 1px 10px;

}

.opinio{
  background-color: #EBCDD4;
  height: 300px;
  margin-bottom: 10px;
  padding: 2%;
}

.opinio h4{
  height: 32px;
  background-image: url(img/comments.svg);
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 0px;
  text-indent: 32px;
  font-size:
}


#peu{
  background-color: #922B41;
  height: 70px;
  width: 100%;
  float: left;

}







}
